@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --glass-bg: rgba(255, 255, 255, 0.7);
  --glass-dark: rgba(2, 6, 23, 0.6);
}

body {
  font-family: theme('fontFamily.display');
}
